# Environment
.env

# Jupyter
.ipynb_checkpoints/

# Large datasets
data/books/*.csv
data/movies/*.csv

# Ignore processed data except for movie model pickles
data/processed/*
!data/processed/movie_list.pkl
!data/processed/movie_similarity.pkl

# Python
__pycache__/
*.pyc

# Virtual environments
venv/
env/
.idea/
.venv/
.vscode/